@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 20px;
}

header, footer
{
    font-family: Raleway;
    margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    font-family: Raleway;
    /*margin-bottom: 5px;*/
}

header span
{
    color: #222;
}

a {
  font-family: Raleway;
}

/* navbar */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #555;
  overflow: hidden;
  /*object-position: center;*/
  text-align: center;
  margin-bottom: 5px;
  float: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* end of navbar */

footer span
{
  color: #AAA;
}

/*.image-container {
  width: 100%;
  padding: 3rem;
}*/

.image-container img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  /*display: block;*/
  margin-top: 20px;
}

.icon {
  margin-top: 20px;
  display: inline-block;
  margin-left: 5px;
}


#about p
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
    display: inline-block;

}

/* contact page */

.container1
{
  width:100%;
  height:10vh;
/*  background: rgb(2,0,36);
  background: linear-gradient(90deg,         rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%,       rgba(0,212,255,1) 100%);*/
  display:flex;
  align-items:center;
  justify-content:center;
}

.box-menu
{
  width:40%;
  height:15vh;
   /*background: linear-gradient(170deg,         rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%,       rgba(0,212,255,1) 100%);*/
  box-shadow: -15px 14px 12px -1px;
  display:flex;
  align-items:center;
  justify-content:center;
}

a
{
  color: inherit;
} 


.box-menu:hover
{
   width:41%;
   height:17vh;
   display:flex;
   align-items:center;
  justify-content:center;
}

.button1-menu
{
   width:100%;
   height:100%;
   background-color: #FFF;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:40px;
}

.button2-menu
{
   width:100%;
   height:100%;
   background-color: white;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   font-size:40px;
}


.button3-menu
{
   width:100%;
   height:100%;
   background-color: #FFF;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:40px;

}

.button4-menu
{
   width:100%;
   height:100%;
   background-color: #FFF;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:40px;
   
}

.button1-menu:hover
{
  font-size:100px;
  transition:0.4s;
}

.button2-menu:hover
{
  font-size:100px;
  transition:0.4s;
}

.button3-menu:hover
{
  font-size:100px;
  transition:0.4s;
}

.button4-menu:hover{
  /*background: darkblue;*/
  font-size:100px;
  transition:0.4s;
  
}

.fa-facebook-f{
  transition:1s;
  
}

.fa-facebook-f:hover{
  color:blue;
 transition: color 2s;
transform: rotate(360deg);
 transition:0.9s;
 font-size:80px;
}

.fa-linkedin{
  transition:1s;
}

.fa-linkedin:hover{
  color:pink;
  transform: rotate(360deg);
 transition:0.9s;
 font-size:80px;
  
}

.fa-camera-retro{
  transition:1.1s;
}

.fa-camera-retro:hover{
    color:Brown;
  transform: rotate(360deg);
 transition:1.1s;
 font-size:80px;
}

.fa-codepen{
  transition:1s;
}

.fa-codepen:hover{
 color:white;
  transform: rotate(360deg);
 transition:1.1s;
 font-size:80px;
}

/* end of contact page */

nav.container
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
  content: center;
  float: center;
}

nav.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
}

.gray
{
    background: #9e9e9e;
}

.container-fluid {
  background: #9e9e9e;
  margin: auto;
  font-family: Raleway;

}

nav.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(href);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

nav.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
nav.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

nav.highlightTextIn a:before
{
    transform: scale(1.2);
}

.site-section {
  text-align: center;
  padding-bottom: 70px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
  color: #666;
}